<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>{{ site.title }}</title>
  <meta name='description' content='The table of contents for Jmeas.com'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='css/style.css'>
  {{> typekit }}
</head>
<body>
  <header>
    <h1>Table of Contents</h1>
  </header>
  {{> body }}
  {{> analytics }}
</body>
</html>